.turnoDeJugador{
    background-color: gold;
    width: 30px;
    border: outset 1px grey;
    padding-left: 2px;
    padding-right: 2px;
}
.esperandoTurno{
    background-color: grey;
    width: 30px;
    border: outset 1px grey;
    padding-left: 2px;
    padding-right: 2px;
}
.puntaje{
    width: 30px;
    border: outset 1px grey;
    padding-left: 2px;
    padding-right: 2px;
}
.texto{
    text-align: center;
    border: outset 1px grey;
    padding-left: 2px;
    padding-right: 2px;
}
div.dado{
    margin: 5px;
    display: inline;
}
table{
    display: inline;
}
